body {
    background-color: #e1e1e1;
}

.form-wrapper {
    border-radius: 7px;
}
.form-wrapper label{
    font-weight: bold;
}
.errors li {
    list-style: none;
    width: 100%;
    text-align: center;
}
.errors ul {
    padding-left: 0;
    margin-bottom: 0;
}

.modal-header .modal-title,  .modal-header .modal-icon{
    font-size: 24px;
    margin-top: auto !important;
    margin-right: auto !important;
    margin-bottom: auto !important;
    
}

/* Rotate loading spinner */
@-webkit-keyframes rotate-forever { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); } } 
@-moz-keyframes rotate-forever { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); } } 
@keyframes rotate-forever { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); } } 
.loading-spinner {
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate-forever;
    -moz-animation-name: rotate-forever;
    animation-name: rotate-forever;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    height: 30px;
    width: 30px;
    border: 8px solid #757575;
    border-right-color: transparent;
    border-radius: 50%;
    display: block;
    position: relative;
    /* top: 50%; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 50%; */
    margin: -24px 0px 0px;
}    


.inputnumber {
    width: 48px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align:right;
}

@media (max-width: 768px) {
    .form-wrapper .text-right{
        text-align: center !important;
    }
    
    .form-wrapper .btn-primary{
        display: block;
        margin: 0 auto;
    }

}


